<div class="ui comments">
  <div class="comment">
    <div class="content">
      <a class="author"><%= message.user.username %></a>
      <div class="metadata">
        <div class="date"><%= message.updated_at.strftime('%Y/%m/%d %H:%M') %></div>
      </div>
      <div class="text">
        <%= message.body %>
      </div>
    </div>
  </div>
</div>